{% extends "base.html" %}
{% load static i18n compress%}

{% block content %}

        <!-- Menu-->
        <section class="page-section" id="menu">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Prochaine table</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-8">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">{{ object.title}}{% if object.complete %}<span class="badge badge-primary ml-1">{% trans 'full'|upper %}</span>{% endif %}</h4>
                        <p>{{ object.date }}</p>
                        <p class="text-muted">{{ object.presentation|safe }}</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-bookmark fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">
                          {% if object.complete %}
                            Complet
                          {% else %}
                            Encore {{ object.free_seats}} places
                          {% endif %}</h4>
                        <h4 class="my-3">{{ object.price}}</h4>
                        <p class="text-muted">{% if not object.complete %}<a href="{% url 'menus:new-reservation' object.id %}">RÉSERVER</a>{% endif %}</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
